# 7일차

#1. 딕셔너리

In [13]:
cities = {'korea':'서울','japan':'도쿄','china':'베이징'} #key값은 중복이 불가능 value값은 중복이 가능
print(cities, type(cities))

print(cities['korea'])
print(cities.keys(),type(cities.keys())) #.keys() > 새로운 컬렉션
print(cities.values(),type(cities.values())) #.values() > 새로운 컬렉션

#딕셔너리 추가
cities['germany'] = '베를린' #인덱스와 동일하게 인덱스 번호대신 key값을 넣는다!!
print(cities)

#딕셔너리 데이터 변경
cities['korea'] = '부산'
print(cities)

{'korea': '서울', 'japan': '도쿄', 'china': '베이징'} <class 'dict'>
서울
dict_keys(['korea', 'japan', 'china']) <class 'dict_keys'>
dict_values(['서울', '도쿄', '베이징']) <class 'dict_values'>
{'korea': '서울', 'japan': '도쿄', 'china': '베이징', 'germany': '베를린'}
{'korea': '부산', 'japan': '도쿄', 'china': '베이징', 'germany': '베를린'}

# 2. 내장함수

1) 문자열 내장함수

In [30]:
# chr()
print(chr(48), type(chr(48)))
print(chr(49), type(chr(49)))
print(chr(65), type(chr(65)))
print(chr(66), type(chr(66)))
print(chr(97), type(chr(97)))
print(chr(98), type(chr(98)))

# eval()
print(eval('100+200'), type(eval('100+200')))
num1 = 50
print(eval('num1 * 3'), type(eval('num1 * 3'))) 
print(eval('min(1,2,3,4)')) #문자열로 전달받은 내용들을 표현식으로 인식하여 결과값을 반환해줌


# format()
print(format(10000), type(format(10000)))
print(format(10000,','), type(format(10000, ',')))
print(format(10000,'_'))

# str()
print(str(100), type(str(100))) # 형변환
print(str(1.5), type(str(1.5)))
print(str(True), type(str(True)))

100 <class 'str'>
1.5 <class 'str'>
True <class 'str'>

2) 숫자 내장함수

In [54]:
# abs()
print(abs(10), type(abs(10)))
print(abs(-10), type(abs(-10)))
print(abs(-3.14), type(abs(-3.14)))

# divmod()
print(10//3)
print(10%3)
print(divmod(10,3), type(divmod(10,3)))
print(divmod(20,4))

# float(), int()
print(float(3), type(float(3)))
print(int(3.5), type(int(3.5)))

# max()
print(max(1,10,50,100,40))
list1 = [1,5,4,6,7,3]
print(max(list1))

# min()
print(min(1,10,0.1,0.01))
list2 = [0.01,3.201,0.0092,0.00003]
print(min(list2), type(min(list2)))

# pow()
print(pow(10,2))
print(10**2)
print(pow(10,-2))
print(10**-2)

# round()
print(round(1.5))
print(round(2.5))
print(round(3.5))
print(round(4.5))
print(round(5.5))
print(round(6.5))
print(round(7.5))
print(round(8.5))
print(round(9.5))
print(round(10.5))

# sum()
list3 = [1,2,3,4,5]
print(sum(list3))

total = 0
for i in list3:
    total += i
print(total)

list4 = ['h','e','l','l','o']
print(sum(list4))   # sum()함수는 숫자 내장함수기 때문에 str과 같이 사용 불가능

15
15

TypeError: ignored

3) 시퀀스 내장함수

In [82]:
# enumerate()
# for item in enumerate(['가위','바위','보']): # 변수를 1개 만들어서 튜플형태로 대입
#     print(item, type(item))
# for idx, item in enumerate(['가위','바위','보']): # 변수를 2개 만들어서 각각 idx, 값을 대입
#     print(idx, item, type(idx), type(item))

# range()
# print(range(10), type(range(10)))
# print(list(range(10)), type(list(range(10))))
# print(tuple(range(10)), type(tuple(range(10))))
# print(list(range(0)), type(list(range(0))))
# print(list(range(1, 0)), type(list(range(1, 0))))

# len()
# list1 = ['a','b','c','d']
# print(len(list1))
# dict1 = {'a':'apple','b':'banana'}
# print(len(dict1))
# print(len(range(100)))

# sorted()
# list5 = [6,4,2,1,8,3]
# print(list5)
# list5_copy = sorted(list5)
# print(list5_copy)
# list5_copy2 = sorted(list5, reverse = True)
# print(list5_copy2)

# zip()
names = ['kyj', 'james','sunny']
scores = [60,70,90]
for student in zip(names, scores):
    print(student, type(student))

for names, scores in zip(names, scores):
    print(f"{names}의 점수는 {scores}입니다")

('kyj', 60) <class 'tuple'>
('james', 70) <class 'tuple'>
('sunny', 90) <class 'tuple'>
kyj의 점수는 60입니다
james의 점수는 70입니다
sunny의 점수는 90입니다

In [89]:
month = [31,28,31,30,31,30,31,31,30,31,30,31]
day = {1,2,3,4,5,6,7,8,9,10,11,12}
for month, day in zip(month, day):
    print(f'{day}월은 {month}일 입니다.')
    
for month, day in enumerate([31,28,31,30,31,30,31,31,30,31,30,31]):
    print(f'{month}월은 {day}일 입니다.')

1월은 31일 입니다.
2월은 28일 입니다.
3월은 31일 입니다.
4월은 30일 입니다.
5월은 31일 입니다.
6월은 30일 입니다.
7월은 31일 입니다.
8월은 31일 입니다.
9월은 30일 입니다.
10월은 31일 입니다.
11월은 30일 입니다.
12월은 31일 입니다.
0월은 31일 입니다.
1월은 28일 입니다.
2월은 31일 입니다.
3월은 30일 입니다.
4월은 31일 입니다.
5월은 30일 입니다.
6월은 31일 입니다.
7월은 31일 입니다.
8월은 30일 입니다.
9월은 31일 입니다.
10월은 30일 입니다.
11월은 31일 입니다.