#3일차

#1.연산자

1)산술 연산자(int, float에서 사용)

> +, -, *, /, //, %, **

In [15]:
print(1 + 4, type(1+4))
print('안녕' + '하세요') # 문자열일 때는 연결을 의미
print(3 - 1, type(3 - 1))
print(3.14 + 1.22, type(3.14 + 1.22))

# print('안녕' + 1.2) # TypeError: can only concatenate str (not "float") to str > 문자열과 정수,실수형은 서로 연산을 할 수가 없음
# print('안녕' + str(1.2))
print(7 + 3)
print(7 - 3)
print(7 * 3)
print(7 / 3) # 정수 / 정수 = 실수
# print(7/0) # ZeroDivisionError: division by zero > 0으로 나누기하면 오류가 발생
print(7 // 3)
print(7 % 3)
print(7 ** 3)

print('안녕' * 3) # 문자열에서 곱셈을 하게되면 문자 * 정수 > 반복

5 <class 'int'>
안녕하세요
2 <class 'int'>
4.36 <class 'float'>
10
4
21
2.3333333333333335
2
1
343
안녕안녕안녕

2) 복합 대입 연산자 =

In [22]:
num1 = 2
num1 += 1
print(num1)

num2 = 3
num2 -= 1
print(num2)

num3 = 10
num3 += 5
print(num3)

num3 *= 2
print(num3)
# 변수의 재사용

num1 **= 2
print(num1)

num1 /= 3
print(num1)

num1 %= 2
print(num1)

3
2
15
30
9
3.0
1.0

3) 관계 연산자(조건문, 반복문에서 사용)

In [24]:
num4 = 10
num5 = 20
print(num4 <  num5)
print(num4 >  num5) 
print(num4 <= num5) 
print(num4 >= num5) 
print(num4 == num5) 
print(num4 != num5)

True
False
True
False
False
True

4) 논리 연산자

In [33]:
a = True
b = False

print(a and b) # and는 둘다 참이면 참, 둘 중 하나라도 거짓이면 거짓
print(a or b) # or 둘 중 하나라도 참이면 참, 둘다 거짓이면 거짓
print(not a)
print(not b)

num6 = 0
num7 = 5
num8 = True
print(num6 and num7)
print(num8 and num8)
print(num8 and num6)
print(num6 or num7) # 참일 때는 참인 값이 출력됨
print(not num6)
print(num6)

False
True
False
True
0
True
0
5
True
0

In [46]:
a = 10
b = 0

print("{} > 0 and {} > 0 : {}".format(a, b, a > 0 and b > 0))
print("{} > 0 or {} > 0 : {}".format(a, b, a > 0 or b > 0))
print("not {} : {}".format(a, not a))
print("not {} : {}".format(b, not b))

10 > 0 and 0 > 0 : False
10 > 0 or 0 > 0 : True
not 10 : False
not 0 : True

5) 시퀀스 연산자

In [53]:
list1 = [1,2,3,4]
list2 = [5,6,7,8]
print(list1, type(list1))
print(list2, type(list2))
print(list1 + list2) # 연결
print(list1 * 3) # 리스트 * 정수 > 반복

string1 = "안녕"
string2 = "hello"
print(string1 + string2) # 연결
print(string1 * 5)  # 문자 * 정수 > 반복

[1, 2, 3, 4] <class 'list'>
[5, 6, 7, 8] <class 'list'>
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]
안녕hello
안녕안녕안녕안녕안녕

6) 비트 연산자

In [61]:
bit1 = 0b1100
bit2 = 0b1001
print(bit1 & bit2)
print(bit1 | bit2)
print(~bit1)
print(bit1 ^ bit2)
print(bin(bit1 << 1))
print(bin(bit1 >> 1))

8
13
-13
5
0b11000
0b110

7) 삼항 연산자

In [62]:
# 조건 연산자를 사용해서 두 수의 차이를 출력하는 프로그램
num1 = 10
num2 = 20
result = (num1 - num2) if(num1 >= num2 ) else(num2 - num1) # 삼항 연산자
print(f"{num1}과 {num2}의 차이는 {result}입니다.")

10과 20의 차이는 10입니다.

#2.컬렉션(list, tuple, set, dict)

1)list

In [89]:
list1 = [1,2,3,4]
print(list1, type(list1))
print(list1[2]) # 리스트도 인덱스가 가능함
print(list1[1:4]) # 인덱스 가능할 때는 슬라이싱 가능함

list2 = [6,7,8,9]
print(list1 + list2)
print(list1 * 3)

list3 = ['hi']
print(list3, type(list3))

list4 = [1,1,2,2,3,3,4,4]
print(list4)

[1, 2, 3, 4] <class 'list'>
3
[2, 3, 4]
[1, 2, 3, 4, 6, 7, 8, 9]
[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]
['hi'] <class 'list'>
[1, 1, 2, 2, 3, 3, 4, 4]

2)tuple

> 읽기 전용 리스트

In [88]:
tuple1 = (1,2,3,4,5)
tuple2 = (6,7,8,9)
print(tuple1, type(tuple1))
print(tuple1[2])
print(tuple2[1:3]) # 인덱스가 가능하면 시퀀스 자료형, 슬라이싱 가능함

tuple3 = ('hi',) # 튜플에 하나의 값만 넣고 싶을 때, 값 뒤에 ','를 꼭 붙여야함!!
print(tuple3, type(tuple3))

print(tuple1 + tuple3)
print(tuple2 * 10) 

tuple4 = (1,1,2,2,3,3,4,4)
print(tuple4)

(1, 2, 3, 4, 5) <class 'tuple'>
3
(7, 8)
('hi',) <class 'tuple'>
(1, 2, 3, 4, 5, 'hi')
(6, 7, 8, 9, 6, 7, 8, 9, 6, 7, 8, 9, 6, 7, 8, 9, 6, 7, 8, 9, 6, 7, 8, 9, 6, 7, 8, 9, 6, 7, 8, 9, 6, 7, 8, 9, 6, 7, 8, 9)
(1, 1, 2, 2, 3, 3, 4, 4)

3)set

> 인덱스 개념이 없음
> 연산도 불가능

In [87]:
set1 = {1,2,3,4}
set2 = {5,6,7,8}
print(set1, type(set1))
print(set2, type(set2))

# print(set1[0]) # TypeError: 'set' object is not subscriptable >  set는 인덱스 개념이 없음(슬라이싱 개념도 없음), 인덱스로 출력하고자 하면 오류발생
# print(set1 + set2) # TypeError: unsupported operand type(s) for +: 'set' and 'set' > set는 연산도 불가능함

set3 = {1,2,3,3,4,4,5,5,5}
print(set3) # set는 중복된 값이 포함이 불가능함

{1, 2, 3, 4} <class 'set'>
{8, 5, 6, 7} <class 'set'>
{1, 2, 3, 4, 5}